@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logoFont {
    font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  }
.loginBtn{
    background:#1E212D ;
  }
.signBtn{
    background: #616163;
  }



  .button-gen {
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   }
   
   .button-gen span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
   }
   
   .button-gen span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
   }
   
   .button-gen:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
   }
   
   .button-gen:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
   }
   
   .button-gen:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
   }


   .item-card{
    background-color: black;
   }



   .item-card:hover{

cursor: pointer;
background-color: #616163;

transform: scale(1.1);
   }